@import url(classes.css);

body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
}

/* <!--------------------NAV-----------------------> */
nav {
    background-color: var(--color-light);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 0px 14px 0px #0000001b;
    padding: 0.25px;
}

nav .container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: auto;
}

.logo {
    font-size: 30px;
    font-family: var(--font-default);
    color: var(--color-default);
    font-weight: bold;
}

.logo:after {
    content: ".";
    color: var(--color-primary);
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

nav ul li a {
    color: #333;
    padding: var(--block-gap);
    font-family: var(--font-default);
    font-size: 17px;
    color: var(--color-tertiary);
    font-weight: 600;
    position: relative;
}

.nav-link {
    color: var(--color-tertiary);
}

.nav-item {
    position: relative;
}

.active {
    color: black;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        width: 50%;
        height: 2px;
        background-color: var(--color-primary);
        left: 15px;
    }
}

nav .nav-group {
    gap: 15px;
    display: flex;
    align-items: center;
}

nav .mode {
    cursor: pointer;
    font-size: 25px;
    width: 25px;

}

nav .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5625rem;
}

/* <!--------------------HEADER--------------------> */
header {
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 40px 5px;
    margin-top: 96px;
}

header .container>* {
    width: 40%;
}

header .header-content h2 {
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 4.0625rem;
}

header .header-content p {
    margin-block: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #4f4f5a;
}

header picture img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}

header picture img:hover {
    animation: shake 1s infinite;
}

header .btns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2.5rem;
}

header .btns a {
    display: flex;
    flex-wrap: nowrap;
}

header .btn-main {
    border-radius: 0 100vh 100vh;
    background-color: #CE1212;
    padding: 12px 27px;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 15px;
}

header .video-btn {
    transition: all var(--animation-duration) ease;
    color: var(--color-default);
    display: flex;
    align-items: center;
    font-weight: 600;
}

header .video-btn .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-right: 0.3125rem;
    position: relative;
}

header .video-btn .icon::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
}

header .video-btn .icon i {
    z-index: 99;
}

header .btns .btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}

.video-btn:hover {
    color: var(--color-primary);
}

/* <!------------------- CHEFS---------------------> */
.title {
    text-align: center;
    margin-bottom: 1.5625rem;
}

.title h2 {
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.title p {
    font-size: 3.125rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.title p span {
    color: var(--color-primary);
}

.chefs-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    --gap: 1.875rem;
    padding-block: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.chefs-cards .card {
    width: calc(calc(100% - var(--gap)* 2) / 3);
    background-color: var(--color-light);
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    transition: all var(--animation-duration) ease;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 0 0 0.25px;
    margin: 0 0 0.25px;
}

.chefs-cards .card:hover {
    transform: scale(1.07);
}

.chefs-cards .card picture {
    width: 100%;
    display: flex;
    position: relative;

}

.chefs-cards .card picture:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url(../images/shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 4rem;
    border: 0;
    outline: 0;
}

.chefs-cards .card picture img {
    width: 100%;
}

.card .card-content {
    position: relative;
    width: 100%;
    padding: 10px 25px 25px;
}

.card .card-content span {
    font-size: 14px;
    color: var(--color-tertiary);
    margin: 5px 0 10px;
    display: inline-block;
}

.card .card-content p {
    font-size: 15px;
    font-style: italic;
    color: var(--color-tertiary);
}

.chefs-cards .social-box {
    position: absolute;
    right: -50px;
    top: 30px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    background-color: #ffffff4d;
    transition: right calc(var(--animation-duration) / 2) ease;
}

.card:hover .social-box {
    right: 10px;
    transition: right var(--animation-duration) var(--animation-duration);
}

.chefs-cards .social-box i {
    font-size: 1.125rem;
    padding: 0.625rem 0.3125rem;
    color: #37373f66;
    transition: color var(--animation-duration);
}

.chefs-cards .social-box i:hover {
    color: #37373fe6;
}

/* <!------------------- GALLERY-------------------> */
#gallery {
    background-color: var(--color-light-grey);
}

.gallery-photos {
    --gap: 1.25rem;
    height: 72.8125rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1.25rem;
}

.gallery-photos picture {
    width: calc(calc(100% - var(--gap)* 2) / 3);
    border: 4px solid var(--color-light);
    position: relative;
    overflow: hidden;
}

.gallery-photos img {
    width: 100%;
    transition: transform var(--animation-duration) ease;
}

.layer {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #00000096;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all var(--animation-duration);
    text-align: center;
}

.gallery-photos picture:hover .layer {
    top: 0%;
}

.gallery-photos picture:hover img {
    transform: scale(1.1);
}

/* <!------------------- CONTACT-------------------> */
.contact iframe {
    width: 100%;
    height: 21.875rem;
}

.contact .details {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    --gap: 15px;
    gap: var(--gap);
}

.contact .details>div {
    width: calc((100% - var(--gap)) / 2);
    background-color: var(--color-light-grey);
    display: flex;
    align-items: center;
    padding: 25px;
}

.contact .details>div .icon {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    border-radius: 50%;
    font-size: 19px;
}

.contact .details>div h3 {
    color: #7d7d7d;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.contact form {
    display: flex;
    --gap: 0.9375rem;
    background-color: var(--color-light);
    padding: 20px;
    flex-direction: row;
    box-shadow: 0 0 1.875rem #00000014;
    gap: var(--gap);
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--font-default);
}

.contact form .input-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 15px;
    font-family: inherit;
    line-height: 1.5;
    border: 2px solid hsl(0, calc(0% + 10%), calc(100% - 10%));
    color: #212529;
    transition: all .3s ease;
    outline: none;
}

.contact form textarea {
    min-height: 9.375rem;
    max-height: 18.75rem;
}

.contact form textarea:focus,
.contact form input:focus {
    border: 2px solid var(--color-primary);
    border-radius: 0;
}

.contact form button {
    padding: 15px 40px;
    margin-top: 25px;
    width: fit-content;
    font-size: 15px;
}

/* <!------------------- FOOTER -------------------> */

footer {
    background-image: linear-gradient(#0009, #0009), url(../images/download.jpg);
    color: #fff;
    box-shadow: 0px -1px 5px #0007;
    background-size: contain;
}

footer .container {
    --gap: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

footer .container .about,
footer .container .contact-details {
    width: calc(calc(100% - var(--gap)* 2) / 4);
}

footer .container .subscription {
    width: calc(calc(100% - var(--gap)* 2) / 2);
}

footer .container .about div {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);
}

footer .container .about .logo {
    color: var(--color-light);
}

footer .container .about img {
    width: 40px;
}

footer .container p {
    margin: 10px 0;
}

footer .container .about h3 {
    text-align: center;
    border-bottom: 2px solid var(--color-light);
    padding: 10px;
    margin-bottom: 10px;
}

footer .about .social-links {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

footer .about .social-links i {
    font-size: 1.5rem;
}

footer .sunscription-group {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

footer .sunscription-group input {
    flex-grow: 1;
    padding: 10px;
}

footer .sunscription-group input:focus {
    outline: 0;
}

footer .sunscription-group button {
    border-radius: 0;
}

footer .quick-links ul {
    margin: 10px 0 0;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

footer .quick-links ul li {
    width: calc((100% - 20px) /2);
    padding: 5px;
    transition: all var(--animation-duration) ease;
}

footer .quick-links ul li::before {
    content: "\f105";
    font: var(--fa-font-solid);
    margin-right: 5px;
}

footer .quick-links ul li:hover {
    transform: translateX(10px);
    background-color: #222;
}

footer .contact-details ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .contact-details h3 {
    margin-bottom: 10px;
}

footer .contact-details ul li i {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.375rem;
    cursor: pointer;
}